@page
@model ContactModel
@{
    ViewData["Title"] = "Contact page";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">Progger.writecode@gmail.com</a><br />
</address>
