@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="MainForm" method="post">
    <div class="form-group">

        <h3>Please enter your data to send a notification</h3>

        <table id="mainTable" class="table">
            <tbody>
                <tr>
                    <td>App token</td>
                    <td>
                        <input id="inpAppToken" class="input-lg" type="text" asp-for="AppToken" placeholder="Enter you application token" />
                    </td>
                </tr>

                <tr>
                    <td>User key</td>
                    <td>
                        <input id="inpUserKey" class="input-lg" type="text" asp-for="UserKey" placeholder="Enter your user key" />
                    </td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>
                        <input id="inpMessage" class="input-lg" type="text" asp-for="Message" placeholder="Enter a notification message" />
                    </td>
                </tr>
            </tbody>
        </table>

        <button id="btnSend" type="button" class="btn btn-primary" onclick="BeforeSend(this)">Send</button>

        <div style="text-align:center">
            <label id="lblResult">@ViewData["Result"]</label>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/Index.js" asp-append-version="true"></script>
}